*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header > nav, nav ul{    
    background-color: rgb(43, 42, 75);
    color: white;
    display: flex;
    align-items: center;
}

nav ul li{
    margin-left: 2rem;
    list-style: none; 
}

#links{
    background-color: inherit;
    color: white;
    border: white;
}

#links>option{
    background-color: rgb(43, 42, 75);
}

.link, #links{
    display: inline;
}

li:first-child a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline;
}

li:nth-child(2) a{
    color: white;
    text-decoration: none;
    display: block;
}

button{
    background-color: inherit;
    color: green;
    border: 2px solid green;
}

button:hover{
    background-color: lime;
    color: white;
}

input[type="text"]{
    padding: 5px;
}

#search {
    display: flex;
    margin-left: 100%;
}

@media (max-width: 768px){
    
}